.jobcardoutline{
    border: 3px solid black;
    border-radius:4px ;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 20px;
    box-shadow: 8px 8px 4px 2px rgba(0, 0, 255, .2);;
}
#title_card{
    font-size: 18px;
}
.job_type{
    margin-right:15px;
    text-transform: capitalize;
}
.jobslocations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
}
.type_and_location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 14px ;
}
#companyname{
    padding: 10px 0 10px 0;
    font-size: 14px;
}
.compensation{
    font-size: 14px;
    margin-top: 10px;
    text-transform: capitalize;
}
